<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.totti.test.lesson03.dao.Real_estateDAO">
 <!--  
 	<select id="selectReal_estate" resultType="com.totti.test.lesson03.model.Real_estate" parameterType="int">
 	
 	 	SELECT
 			`id`
 			,`realtorId`
 			,`address`
 			,`area`
 			,`type`
 			,`price`
 			,`rentPrice`
 			,`createdAt`
 			,`updatedAt`
 		FROM
 			`real_estate`
 		WHERE
 			`id` = #{id}
 
 	</select>
 -->
 	
  
 	 <select id="selectReal_estateRentPrice" resultType="com.totti.test.lesson03.model.Real_estate" parameterType="int">
 	
 	 	SELECT
 			`id`
 			,`realtorId`
 			,`address`
 			,`area`
 			,`type`
 			,`price`
 			,`rentPrice`
 			,`createdAt`
 			,`updatedAt`
 		FROM
 			`real_estate`
 		WHERE
 			   <![CDATA[`rentPrice`< #{rentPrice}]]>
 			   <!-- 얼마나 잡아줘도 상관없음 부등호만 잡아줘도 상관없음.... --> 
 
 	
 	</select>
  	
  	 
 	 <select id="selectAreaPrice" resultType="com.totti.test.lesson03.model.Real_estate" parameterType="map">
 	
 	 	SELECT
 			`id`
 			,`realtorId`
 			,`address`
 			,`area`
 			,`type`
 			,`price`
 			,`rentPrice`
 			,`createdAt`
 			,`updatedAt`
 		FROM
 			`real_estate`
 		WHERE
 		 	`type`='매매' AND
 		 	`area`>= #{area} AND 
 		 	`price`<![CDATA[<]]> #{price} 	 
 		ORDER BY `id` DESC;
 			<!-- 등록일은 createdAt도 괜찮지만 id를 사용도 가능   -->
 	
 	</select>
  
   <!-- 구글링 시 단어를 좀 생각하고 구글링하길.... -->
   
   
    
   <insert id="insertReal_estate" parameterType="map">
   
   	INSERT INTO `real_estate`
	   	(
	 		`realtorId`
	 		,`address`
	 		,`area`
	 		,`type`
	 		,`price`
	 		,`createdAt`
 			,`updatedAt`
	   	)
   
   	VALUES
	   	(
	   		#{realtorId}
	   		,#{address}
	   		,#{area}
	   		,#{type}
	   		,#{price}
	   		,NOW()
	   		,NOW()
	   	)
   
   </insert>
   
   
   <insert id="insertReal_estateAsObject" parameterType="com.totti.test.lesson03.model.Real_estate">
   
   	INSERT INTO `real_estate`
	   	(
	 		`realtorId`
	 		,`address`
	 		,`area`
	 		,`type`
	 		,`price`
	 		,`rentPrice`
	 		,`createdAt`
 			,`updatedAt`
	   	)
   
   	VALUES
	   	(
	   		#{realtorId}
	   		,#{address}
	   		,#{area}
	   		,#{type}
	   		,#{price}
	   		,#{rentPrice}
	   		,NOW()
	   		,NOW()
	   	)
   
   </insert>
   
   
   <update id="updateReal_estate" parameterType="map">
   
	UPDATE `real_estate`
   	SET
   		`type` = #{type} , `price` = #{price}
   		
   	WHERE
   		`id` = #{id} 
   
   </update>
   
   <delete id ="deleteReal_estate" parameterType="int">
   
   	DELETE
   	FROM `real_estate`
   	WHERE 
   		`id` = #{id}
   
   </delete>
   
   	
 	
 
 </mapper>