<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.totti.test.lesson05.dao.WeatherDAO">
 	 
 	 
 	 
 	 
 	<insert id="insertWeather" parameterType="map">  <!-- 하나하나 받을때는 맵 객체형태로 받을 때는 그 객체를 타입으로 받음-->
 		INSERT INTO `weatherhistory`
 		(	`date`
 			,`weather`
 			,`temperatures`
 			,`precipitation`
 			,`microDust`
 			,`windSpeed`
 			,`createdAt`
 			,`updatedAt`
 		)VALUES
 		(
 			#{date}
 			,#{weather}
 			,#{temperatures}
 			,#{precipitation}
 			,#{microDust}
 			,#{windSpeed}
 			,now()
 			,now()
 		)
 	</insert>
 
 		
 		
 	<!-- resultType은 내가 전달해줄 클래스 생각해서 잡는거임 -->
 	<select id="selectWeather" resultType="com.totti.test.lesson05.model.Weather">
 		SELECT
 			`date`
 			,`weather`
 			,`temperatures`
 			,`precipitation`
 			,`microDust`
 			,`windSpeed`
 			,`createdAt`
 			,`updatedAt`
 		FROM
 			`weatherhistory`
 	</select>
 	
 
 </mapper>